/* Default styles */
*{
    margin: 0 auto;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    box-sizing: border-box;
    
}
/* Header is missing */
.heading {
    padding-top: 100px;
    padding-bottom: 25px;
    
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #212121;
    
    text-transform: uppercase;
}
.line { 
    width: 64px;
    height: 2px;

    margin: 0 auto 30px;
    border: none;
    background: #FF8B38;
}
.subtitle {
    padding-bottom: 40px;

    font-weight: 400;
    font-size: 14px;
    color: #86878B;
} 
/* main content */
.main {
    margin-top: 40px;
    margin-bottom: 100px;
}
.aside {
    width: 350px;
    margin: 0 32px;

    display: inline-block;
}
.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;

    border: 1px solid  #FF8B38;
    border-radius: 50%;
}
.img--lamp {
    background: url(../img/lamp.png) no-repeat center;
}
.img--keyboard { 
    background: url(../img/lightning.png) no-repeat center;
}
.img--lightning {
    background: url(../img/keyboard.png) no-repeat center;
}
.aside-title {
    margin-bottom: 16px;
    
    font-weight: 700;
    font-size: 20px;
    
    color: #333333;
}
.text {
    font-weight:400;
    font-size: 14px;
    color: #000000;
}
/* section content */
.background-section {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/background.jpg);
    background-size: cover;
}
.section--heading {
    padding-top: 76px;
    
    color: white;
    
}
.section--line {
    background: white;
}
.section--subtitle {
    font-weight: 300;
    font-size: 16px;
    font-family:'Raleway', sans-serif;
    color: #ffffffcc;
}
.button {
    width: 135px;
    height: 42px;
    
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;

    background: transparent;
    border: 1px solid #FFFFFF;
    
    
}
.footer {
    background-color: #000000;
} 
.a {
    background: url(../img/sprite.png) no-repeat;
    
    width: 26px;
    height: 30px;
    margin-right: 12px;
    margin-top: 30px;
    
    display: inline-block;
}
.a--facebook {
    background-position: 5px 0px; 
}
.a--twitter {
    background-position: -44px 0px;
}
.a--google {
    background-position: -94px 0px;
}
.a--pinterest {
    background-position: -140px 0px;
}
.a--instagram {
    background-position: -190px 0px;
}
.a--stumbleupon {
    background-position: -242px 0px;
}
.a--rss {
    background-position: -293px 0px;
}
.subtitle-footer {
    padding-bottom: 15px;
    
    font-size: 12px;
    font-weight: 400;
    
    color: #ffffff80;
    
}